/* Dark mode styles */

:root {
    /* Should make it easier to change colors in the future */
    --text: #e4e4e4;
    --background: #1b1b1b;

    --button-hover: black;
    --button-selected: #232e51;
    --fieldset-color: #2a2a2a;

    --column-1: #2a2a2a;
}

html, body {
    color: var(--text);
    background-color: var(--background);
    color-scheme: dark;
}

.btn {
    background-color: var(--background);
    color: var(--text);
}

.btn:hover {
    z-index: 10;
    background: var(--button-hover);
}

.visually-hidden:focus + .btn,
.btn:hover {
    z-index: 10;
    background: var(--button-hover);
}

.visually-hidden:checked + .btn {
    font-weight: bold;
    color: var(--text);
    background: var(--button-selected);
}

.visually-hidden:disabled + .btn {
    color: var(--button-hover);
}

fieldset {
    background-color: var(--fieldset-color);
}

select {
    background-color: var(--background);
    color: var(--text);
}

a.links-lighten {
    color: #7A9CFF;
}

a.links-lighten:hover {
    color: #C2D0FF;
}

a.links-lighten:visited {
    color: #BC8BEA;
}

a.links-lighten:visited:hover {
    color: #DACAF7;
}

input {
    background-color: var(--background);
    color: var(--text);
}

textarea {
    background-color: var(--background);
    color: var(--text);
}

.wrapper {
    background-color: var(--background);
    color: var(--text);
}

a.collapsible-link {
    color: var(--text);
}

.bs-btn {
    background-color: var(--background);
    color: var(--text);
}

.bs-btn:hover {
    z-index: 10;
    background: var(--button-hover);
    color: var(--text);
}

.dataTables_info {
    color: var(--text) !important; /* I know, don't use !important, but w/e */
}

.search-label {
    color: var(--text);
}

tr.odd, tr.even {
    background-color: var(--background) !important;
}


td.sorting_1 {
    background-color: var(--column-1) !important;
}


label:not(.btn) {
    color: var(--text);
}

/* Select2 Dropdown stylings */

.select2-container .select2-choice {
    background: var(--background);
    background-image: linear-gradient(#333, 70%, #1b1b1b);
    /* Not fully satisfied w/ this gradient, but it's w/e */
    color: var(--text);
}

.select2-container .select2-choice .select2-arrow {
    background: none;
    border-left: none;
}

.select2-dropdown-open .select2-choice {
    -webkit-box-shadow: 0 1px 0 var(--background) inset;
    box-shadow: 0 1px 0 var(--background) inset;
    background-image: none;
}

.select2-drop {
    background-color: var(--background);
    color: var(--text);
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    background-image: none;
}

input.select2-input {
    color: var(--text);
    /* 
    * I have to use this URL because this CSS file is in the dist/css folder,
    * whereas the Select2 CSS file is right next to the select2.png file
    */
    background: url('../js/vendor/select2/select2.png') no-repeat 100% -22px, var(--background);
}

/* Changelog */
#changelog-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#changelog-popup {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: #141414;
    padding: 20px;
    width: 45vw;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

#changelog-close {
    float: right;
    cursor: pointer;
    font-size: 22px;
    color: #999;
}

#changelog-close:hover {
    color: #333;
}

#changelog-content {
    margin-top: 7px;
    font-family: Arial, sans-serif;
    font-size: 22px;
    overflow-y: auto;
    max-height: 65vh;
}

#changelog-content li {
    margin-bottom: 4px;
}

#show-changelog {
    margin-top: 5px;
}

/* Export All */
#massExport-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#massExport-popup {
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: #141414;
    padding: 20px;
    width: 45vw;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

#massExport-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#massExport-popup h2 {
    color: #fff;
    margin: 0;
}

#massExport-copy {
    gap: 6px;
    padding: 6px 12px;
    background: #2a2a2a;
    color: #fff;
    border: 1px solid #555;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease;
    margin-right: 30px;
    width: 130px;
}

#massExport-copy svg {
    margin-top: 1px;
}

#massExport-copy:hover {
    background: #3a3a3a;
    border-color: #777;
}

#massExport-copy:active {
    background: #1a1a1a;
}

#massExport-copy svg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

#massExport-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 22px;
    color: #999;
    z-index: 1;
}

#massExport-close:hover {
    color: #333;
}

#massExport-div {
    margin-top: 7px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow-y: auto;
    max-height: 65vh;
    color: #fff;
    padding-right: 15px;
}

#massExport-text {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
    padding: 0px 25px;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.215;
}